@media (max-width: 767px){
*{
    box-sizing: border-box;
}
body{
        background-color: #f0f0f0;
        font-family: 'Roboto', sans-serif;
}
.topo{
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
    position: relative;
}
.container{
    width: 100%;
    margin: 20px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img{
    width: 75px;
    height: 55px;
}
.iconetopo{
    width: 45px;
    height: 35px;
}
.caixamensagens{
    height: auto;
    overflow: hidden;
    padding-bottom: 80px;
}
ul{
    margin-top: 25px;
}
.status{
    background: rgba(220, 220, 220, 1);
    
}
.message{
    background: rgba(255, 255, 255, 1);
    height: inherit;
}
.private_message{
    background: rgba(255, 222, 222, 1);
}
.texto{
    font-size: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    display: inline-block;
    margin-left: 10px;
    
}
.barrainferior{
    position: fixed;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.05);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    bottom: 0;
    right: 0;
}
.iconeinferior{
width: 26px;
height: 26px;
}
.mensagem{
    color: black;
    font-size: 18px;
}
.hora{
    color:rgba(170, 170, 170, 1) ;
}
.nome{
    font-weight: bold;
    margin-left: 8px;
}
.txt{
    width: 100%;
    flex-wrap: wrap;
}
.caixatexto{
    width: 100%;
    margin: 4px 0;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    min-height: 40px;
}
input{
    border: #f0f0f0;
}
button{
    border: #f0f0f0;
    background-color:white;
}
.paginadeentrada{
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.imgentrada{
    width: 130px;
    height: 100px;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 80px;
}
.nomedeentrada{
    width: 260px;
    height: 60px;
    color: black;
    font-size: 18px;
    margin: 20px 0;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
}
.nomedeentrada::placeholder{
    color:rgba(174, 174, 174, 1) ;
   padding: 68px;
}
.botaoentrada{
    width: 110px;
    height: 50px;
    border-radius: 9px;
    background-color: #E7E7E7;
    font-size: 18px;
    margin-top: 10px;
}
.desativado{
    display: none;
}
}
